apscheduler
aiofiles
alphabet_detector
aiohttp
asyncio
bs4
better_profanity
bleach
bing_image_downloader
cachetools
countryinfo
emoji-country-flag
emoji
envparse
future
faker
fuzzysearch
gtts
geopy
google-trans-new
gpytranslate
hachoir
heroku3
html2text
jikanpy
lxml
markdown2
multicolorcaptcha
motor
nudepy
nekos.py
opencv-python-headless
Python_ARQ
python-telegram-bot==13.14
pyaztro
pykeyboard
psutil
pyrate-limiter
Pillow
psycopg2-binary
pretty_errors
pyrogram
pymongo
requests
regex
SQLAlchemy==1.4.31 
secureme
speedtest-cli
spamwatch
search_engine_parser
tswift
telethon
telegraph
TgCrypto 
wget
wikipedia
youtube_search_python==1.4.9
youtube_search
yt_dlp
youtube-dl
youtube_search
git+https://github.com/Sorrybabe/downloader
git+https://github.com/python-telegram-bot/ptbcontrib.git